.list-view, .split-pane {
    -fx-background-color: #18181b;
    -fx-border-radius: 20px;
    -fx-border-style: solid inside;
    -fx-border-radius: 5;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-cursor: hand;
}


.list-cell {
    -fx-text-fill: #99d6ff;
    -fx-background-color: #18181b;
}

.list-cell:hover {
    -fx-background-color: #302f37;
}

.list-cell:selected {
    -fx-background-color: #535261;

}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0px;
}

.list-view .scroll-bar:vertical {
    -fx-padding: 0px;
}


.combo-box {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.combo-box .arrow{
    -fx-background-color:#99d6ff;
    -fx-effect: dropshadow( gaussian , rgba(165, 224, 255, 0.5), 0,0,0,1 );
}
.combo-box .arrow-button{
    -fx-background-color:white;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color:#18181b;
    -fx-cursor: hand;
}

.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #4db8ff;
    -fx-font-family: Monospaced;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #302f37, #000000;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.text-field {
    -fx-background-color: #302f37 , #000000;
    -fx-text-fill: #4db8ff;
}

.text-field:focused {
    -fx-border-color: #4db8ff;
}


